:root {
    --bg-color: #1f2937;
    --section-bg-color: #f3f4f6;
    --card-bg-color: linear-gradient(270deg,#030712 40%, #595959 150%);
    
    --light-text-color: #f9fafb;
    --dark-text-color: #101010;
    --input-bg-color: #f9fafb

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
}

body {
    width: 100vw;
    height: 100vh;
    padding: 1.5rem 1rem;
    background-color: var(--bg-color);
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--section-bg-color);
    border-radius: 1.25rem;
    gap: 1.5rem;
}

.card {
    width: 17.5rem;
    height: 12rem;
    background: var(--card-bg-color);
    border-radius: 1rem;
    color: var(--light-text-color);
    font-family:"Nunito Sans", sans-serif;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, .5);
}

.front__card {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.75rem;
}

.brand {
    place-self: end;
    font-size: 1.5rem;
}

.card__number, .cvv {
    text-align: center;
    width: 220px;
    height: 34px;
    padding: .275rem 1rem;
    place-self: center;
    font-size: 1rem;
    border: 1px solid #507FFA;
    border-radius: .5rem;
}

.cardholder__and__data__expires {
    display: flex;
    justify-content: space-between;
    font-size: .75rem;
    text-align: center;
}

.cardholder , .data__expires {
    width: 50%;
}

#cardHolderText , .expires {
    text-transform: uppercase;
}

.form {
    max-width: 280px;
    font-family: "Inter", sans-serif;
    color: var(--dark-text-color);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .625rem;
}

.form h1 {
    font-size: 1.125rem;
}

.field__container {
    height: 4rem;
    font-size: .75rem;
    font-weight: 600;
}

.field__container input,
.field__container select{
    width: 100%;
    height: 3rem;
    border-radius: .375rem;
    border: 1px solid #D3D3D3;
}

.select {
    display: flex;
    flex-direction: column;
}

.select fieldset {
    border: none;
    height: 100%;
    display: flex;
    gap: .3125rem;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

.back__card{
    display: none;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 1rem;
}

.rectangle {
    margin-left: -1rem;
    margin-right: -1rem;
    margin-top: 2.4rem;
    height: 2.5rem;
    background: #A9A9A9;
}

.cvv {
    place-self: end;
    width: auto;
}

.brand__back {
    place-self: start;
}

@media (min-width: 767px) {
    body {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    .container {
        width: auto;
        height: auto;
        padding: 4.125rem 2.5rem;
        flex-direction: row;
        gap: 6.25rem;
    }
}

@keyframes rotate-card {
    0% {
        transform: rotateY(180deg);
    }
}